/* Common class starts here */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}
.color-primary{
  color: #3C354F;
}
.color-secondary{
  color: #662d91;
}
.color-title-primary{
  color: #FF42A5;
}
.color-title-secondary{
  background-image: linear-gradient(to bottom,#FF42A5,#662d91);
    color: transparent;
    -webkit-background-clip: text;
}
.font-primary{
  font-size: 1.2rem;
}
.title-size{
  font-size: 2.8rem;
}

/* Common class ends here */


/* Header class starts here */
.header{
  display: flex;
  align-items: center;
  padding: 20px;  
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);  
  max-width: 1366px;
  margin: 0 auto;
}
.web-logo{
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  width: 50%;
}
.web-logo > img{
  width: 84px;
  height: 40px;
  margin-right: 10px;
}
.header-link{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3rem;
  width: 50%;
}
.header-link > a{
  text-decoration: none;
  padding: 10px;
}
.header-logo{
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.10);
  padding: 10px;
}
.header-logo > a{
  text-decoration: none;
  padding: 10px;
}
.youtube-logo{
  color: red;
}
.tiktok-logo{
  color: black;
}
/* Header class ends here */


/* play like  section class starts here */
.play-like{  
  display: flex;
  justify-content: center ;
  align-items: center;
  max-width: 1366px;
  margin: 60px auto 0;
  height: 70vh;
}
.lik-are{
  background-image: url(../images/Group\ 14.png);
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
  padding: 4% 0 0 10%;
}
.lik-are > p > i{
  color: rgb(247, 91, 200);
  padding: 10px;
}
.heading-size{
  font-size: 5rem;
}
.lik-are-pic{
  width: 50%;
  height: 70vh;
}
.lik-are-pic > img{
  width: 100%;
  height: 100%;
}
.btn{
  font-size: 1.25rem;
  color: #fff;
  width: 160px;
  padding: 20px 30px;
  margin-top: 20px;
  border: 0;
  border-radius: 36px;
}
.btn-primary{
  background-color: #FF42A5;
}
.btn-secondary{
  background-color: #4EC5F7;
}

/* play like  section class ends here */


/* we r gamer section class starts here */
.gamer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1366px;
  margin: 0 auto;
  margin-top: 60px;
  height: 70vh;
}
.gamer-hero{
  width: 55%;
}
.gamer-hero > img{
  width: 100%;
}
.gamer-text{
  width: 35%;
}
.more-containt{
  text-align: end;
}
.small-heading{
  font-size: 2rem;
}

/* we r gamer section class ends here */

/* Online Games section class starts here */
.online-container{
  max-width: 1366px;
  margin: 60px auto 0;
  text-align: center;
}
.grid-containers{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 40px auto;
  gap: 10px;
}
.grid-container{
  position: relative;
}
.grid-container-img{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .2s ease;
  backface-visibility: hidden;  
}
.game-pause{
  transition: .2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.grid-container:hover .grid-container-img{
  opacity: 0.8;
  border: solid 3px#FF42A5 ;
  border-radius: 5%;
}
.grid-container:hover .game-pause{
  opacity: 1;
}

/* Online Games section class ends here */


/* Play Instantly section class starts here */
.play-sections{
  display: flex;
  max-width: 1366px;
  margin: 80px auto;
  margin-bottom: 100px;
  align-items: center;  
}
.play-container{
  width: 50%;
  padding: 25px;
  margin: 25px;
}
.play-img-container{
  width: 50%;
  position: relative;
}
.play-img-1{
  display: flex;
  justify-content: end;
  border-radius: 8px;
  position: relative;
}
.play-img-1 img{
  width: 90%;
  height: 85vh;
}
.play-img-2{
  position: absolute;
  top: 75%;
  left: -5%;
}
.play-img-2 img{
  width: 200px;
  height: 245px;
  border-radius: 5px;
}
/* Play Instantly section class ends here */


/* Play Games section class starts here*/

.opposite{
  flex-direction: row-reverse;
}
.oppositer{
  display: flex;
  justify-content: start;
  position: relative;
}
#swing{
  position: absolute;
  left: 75%;
}
/* Play Games section class ends here*/


/* Play Games section class starts here*/

.action-btn{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  max-width: 1366px;
  margin: 80px auto;
  justify-content: center;
}
.action-btn > li{
  text-decoration: none;
  text-align: center;
}
.action-hover{
  display: flex;
  justify-content: center;
  align-items: center;  
  font-size: 1.3rem;
  padding: 10px;
}
.action-hover > img{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.action-hover:hover{
  color: #FF42A5;
  border: 3px solid #FF42A5;
  border-radius: 36px;  
}
/* Play Games section class ends here*/


/* Footer section class starts here*/

.footer{
  height: 80vh;  
  background-color: #0B0223;
  align-items: center;
}
.footer-top > img{
  padding: 20px;
}
.footer-color-primary{
  color: #FFF;
}
.footer-color-secondary{
  color: #FFF;
  opacity: 60%;
}
.footer-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 36px;
  max-width: 80%;
  margin: 0 auto;
}
.footer-logo a {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  padding: 10px;
}
.footer-logo > a > i {
  font-size: 3rem;
  border-radius: 50%;
}
.footer-logo p{
  font-size: 1.5rem;
  padding: 10px auto 0;
}
/* Footer section class ends here*/