/* Mobile responsive starts here */
@media screen and (max-width:576px){

/* common class section */
  .title-size{
    font-size: 2.2rem;
  }
  .font-primary{
    font-size: 1rem;
    margin-top: 20px;
  }

/* header class section */
  .header{
    flex-direction: column;
  }
  .web-logo{    
    width: 100%;
    justify-content: center;
  }
  .header-link{
    flex-direction: column;
    width: 100%;
  }

/* play like class section  */
  .play-like{  
    flex-direction: column-reverse;
    height: 140vh;
  }
  .lik-are, .lik-are-pic{    
    width: 85%;
  }

/* we r gamer class section */
  .gamer{
    flex-direction: column;
    height: 100vh;
  }
  .gamer-hero{
    width: 100%;
  }
  .gamer-text{
    width: 80%;
  }
  .more-containt{
    text-align: center;
  }
  .small-heading{
    font-size: 1.5rem;
  }

/* Online Games class section */
  .grid-containers{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 40px auto;
    gap: 20px;
    width: 85%;
  }

/* Play Instantly class section */
.play-sections{
  flex-direction: column;   
}
.play-container, .play-img-container, .oppositer{
  width: 85%;
  text-align: center; 
}
.play-img-2{
  top: 50%;
  left: -2%;
}
#swing{  
  left: 60%;
}

/* Action buttons class section */
.action-btn{
  grid-template-columns: repeat(3, 1fr);
  width: 85%;
  margin: 60 auto;
}
.action-hover{ 
  font-size: 1rem;
}
.action-hover > img{
  width: 40px;
  height: 40px;
}
.action-hover:hover{
  color: #FF42A5;
  border: 2px solid #FF42A5;
  border-radius: 36px;
}

/* Footer class section */
.footer-logo{
  flex-wrap: wrap;
  max-width: 80%;
  flex-direction: row;
}
.footer-logo a {
  font-size: 1.2rem;
  padding: 5 16px;  
}
.footer-logo > a > i {
  font-size: 2rem;
}
.footer-logo p{
  font-size: .8rem;
  padding: 5px;
}

}
/* Mobile responsive ends here */


/* tablet responsive starts here */

@media screen and (min-width:577px) and (max-width:991px){

/* common class section */
  .btn{
    font-size: 1rem;
    color: #fff;
    width: 125px;
    padding: 10px 20px;
    border-radius: 36px;  
  }
  .title-size{
    font-size: 2rem;
  }
  .font-primary{
    font-size: 1rem;
  }
  .header-link{
    font-size: 1rem;
  }

  /* play like section  */
  .play-like, .lik-are, .lik-are-pic{  
    width: 85%;
    height: 100vh;
  }
  .heading-size{
    font-size: 3rem;
  }
  
  .gamer, .online-container{
    width: 90%;
  }
  .small-heading{
    font-size: 1.5rem;
  }

  /* Play Games section */
  .play-sections{
    width: 90%;    
  }
  .play-img-2{
    top: 60%;
    left: -5%;
  }
  #swing{
    left: 60%;
  }
  .play-img-2 img{
    width: 160px;
    height: 200px;
    border-radius: 5px;
  }

  /* Action buttons class  section */
  .action-btn{
    grid-template-columns: repeat(3, 1fr);
  }
  .action-hover, .footer-logo a {
    font-size: 1.2rem;
  }

  /* Footer class section */
  .footer{
    height: 100vh;
  }
  .footer-logo > a > i {
    font-size: 2rem;
  }
  .footer-logo p{
    font-size: 1rem;
  }

}
/* tablet responsive ends here */